* {
  box-sizing: border-box;
}

.todoContainer {
  display: flex;
  flex-direction: column;
  gap: 15px;
  min-width: 320px;
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.todoContainer h2 {
  text-align: center;
}

.todoForm {
  display: flex;
  justify-content: space-between;
  border: 1px solid grey;
  background-color: lightgray;
  padding: 30px;
}

.todoForm input {
  width: 70%;
}
.todoListItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}

.todoListItem + .todoListItem {
  border-top: 1px solid grey;
}

.todoListItem button {
  margin-left: auto;
}

input {
  outline: none;
}

.valid {
  background-color: aquamarine;
}

.invalid {
  background-color: lightcoral;
}

.doneTask {
  text-decoration: 1px line-through lightgray;
  color: grey;
}
